body {
    display: flex;
    flex-direction: column;
    font-size: 16px !important;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    color: #000000;
    caret-color: transparent;
    padding: 10px;
    max-width: 1440px;
    position: relative;
}

.header {
    display: flex;
    justify-content: center;
    /*height: 100px;*/
}

.content-wrapper {
    width: 100%;
    box-sizing: border-box;
    margin-top: 10px;
}

.czr-wp-the-content {
    display: flex;
}

.container {
    max-width: none;
}

#checkAnswer {
    margin-left: 5px;
}

#total_question {
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 20px;
    caret-color: #000000;
    display: inline-block;
    padding: 0;
    text-align: center;
}

#makeSentence {
    color: red;
    margin-top: 20px;
    margin-bottom: 10px;
}

input:not([type=submit]):not([type=button]):not([type=number]):not([type=checkbox]):not([type=radio]):focus, textarea:focus {
    border: none;
    border-bottom: 1px solid #000000;
}

.hide {
    display: none !important;
}

.hidemodal {
    display: none;
}

#winModal {
    background: rgb(0 0 0 / 80%);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    text-align: center;
    left: 0;
    color: green;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.hidden {
    cursor: none;
    pointer-events: none;
    background: grey;
    opacity: .5;
    caret-color: transparent;
}

.logo {
    margin: 0;
    position: absolute;
    left: 10px;
    top: 10px;
}

.logo a {
    color: #000;
}

.help {
    display: flex;
    width: 100%;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 5px;
    line-height: 35px;
}

.words-by-themes-list {
    margin-top: 70px;
    display: inline-flex;
}

#example-sentense-correct {
    margin-top: 7px;
}

.help::after {
    content: '\25B6';
    float: right;
    margin-left: 5px;
    margin-top: 0;
}

.help.active::after {
    content: '\25BC';
}

.rules {
    padding: 10px;
    display: none;
}

.rules.active {
    display: block;
    position: absolute;
    left: 10px;
    top: 185px;
    z-index: 1;
    width: 50%;
    background: lightgray;
    text-align: center;
    line-height: 25px;
    text-transform: none;
    border: 2px dashed red;
}

.game.words-button.active {
    background-color: lightgreen;
    cursor: none;
    pointer-events: none;
    caret-color: transparent;
}

#word {
    font-size: 20px;
    font-weight: bold;
    margin-right: 10px;
}

#word-image {
    margin: 20px auto;
}

#errorInSentence {
    margin-top: 20px;
    position: absolute;
}

#stats {
    text-align: left;
    display: inline-block;
    gap: 10px;
    height: auto;
    overflow: auto;
    grid-auto-flow: dense;
    margin-top: 20px;
    margin-bottom: 20px;
}
#example-sentense-incorrect {
    margin-top: 7px;
}

.result-row:nth-child(odd) {

}

hr {
    width: 100%;
}

.result-row {
    margin-bottom: 5px;
    text-align: center;
    padding: 7px;
}

#stats .result-row:last-child {
    background: lightgreen;
    order: -1;
}

.review-title {
    text-decoration: underline;
    margin-bottom: 15px;
}

#wrapper {
    display: none;
    position: relative;
    text-align: center;
    width: 100%;
}

#count {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.correct-block {
    color: green;
}

.wrong-block {
    color: red;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
}

.green {
    color: forestgreen;
}

.red {
    color: red;
}

.content {
    width: 100%;
    text-align: center;
}

#correct_answer:before {
    content: '\2713';
    display: inline-block;
    color: forestgreen;
}

.btn-block {
    display: flex;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}

.menu li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

.menu li a:hover {
    color: #ff9900;
}

.accordion-content {
    display: none;
    flex-wrap: wrap;
}

.accordion-content.expanded {
    display: flex;
}

.menu-item {
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    caret-color: transparent;
    display: block;
    text-transform: uppercase;
    padding: 5px 5px 5px 0;
    text-align: center;
}

.header-buttons {
    position: absolute;
    right: 0;
}

.accordion-header {
    cursor: pointer;
    color: #000000;
    font-weight: bold;
    caret-color: transparent;
    display: block;
    text-transform: uppercase;
    padding: 5px 5px 5px 0;
}

.accordion-section {
    margin-bottom: 5px;
    text-transform: uppercase;
}

.accordion-section.active .accordion-header {
    color: #000000;
    font-weight: bold;
    display: block;
}

#vocabulary-header:after {
    color: red;
    content: '\25B6';
    margin-left: 10px;
}

.accordion-section.active #vocabulary-header::after {
    content: '\25BC';
}

.word-container {
    display: inline-block;
    cursor: pointer;
    padding: 5px;
    min-width: 50px;
    background: #cccccc;
    margin: 5px 10px 5px 0;
    text-align: center;
    user-select: none;
}

::selection {
    /*background: transparent;*/
    /*color: inherit;*/
}

.clicked {
    background-color: #90ee90;
}

.example-text {
    font-style: italic;
    margin-top: 10px;
    background-color: lightgreen;
}

.example-text.hide {
    display: none;
}

.incorrect {
    background-color: #e0a0a0;
}

.words-button {
    cursor: pointer;
    margin: 10px 20px 10px 0;
}

button {
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#logout-btn {
    height: 40px;
}

#clear-progress {
    height: 40px;
    min-width: 140px;
    background: red;
}

button:hover {
    background-color: #000000;
    color: white;
}

button:active {
    background-color: #555;
    color: white;
}

.entry-header, .page-breadcrumbs, #footer {
    display: none;
}

.words-button span {
    font-size: 0.9em;
    /*color: #666;*/
    margin-left: 1px;
}

.words-button .green {
    color: green;
    font-weight: bold;
}

.words-button .red {
    color: red;
    font-weight: bold;
}

.words-left {
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#form-title {
    text-align: center;
}
#auth-form {
    margin-top: 20px;
}
#auth-form label {
    display: block;
    margin-bottom: 5px;
}
#auth-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}
#auth-form button {
    height: 40px;
    margin: 10px;
    width: 100%;
    padding: 10px;
    background: #007BFF;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#auth-form button:hover {
    background: #0056b3;
}
.container .toggle-btn {
    margin: 0 auto;
    background: none;
    border: none;
    color: #007BFF;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 10px;
}
#auth-form .message {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

#language-switcher {
    height: 40px;
}

.helper-buttons {
    display: flex;
    width: 100%;
}

.expanded {
    display: block;
}

@media screen and (max-width: 1023px) {
    body {
        flex-direction: column;
    }

    .header {
        flex-direction: column;
        height: auto;
    }

    .sidebars {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .menu-toggle {
        display: flex;
    }

    .menu {
        margin-top: 100px;
        margin-bottom: 20px;
        border-bottom: 2px solid black;
        padding-bottom: 20px;
        padding-top: 10px;
    }

    .menu.active {
        display: flex;
    }

    .navbar {
        padding: 20px;
        min-width: 280px;
    }

    .bar:nth-child(1).change {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .bar:nth-child(2).change {
        opacity: 0;
    }

    .bar:nth-child(3).change {
        transform: rotate(45deg) translate(-8px, -10px);
    }

    .content .end-game {
        display: block;
        margin-right: 5px;
    }
}

@media screen and (min-width: 320px) and (max-width: 600px) {
    #stats {
        grid-template-columns: repeat(1, 1fr);
    }
}